<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Server=192.168.1.149;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=sql" providerName="System.Data.SqlClient" />
  <add name="HQPAS" connectionString="Server=192.168.1.149;Initial Catalog=HQPAS;User ID=sa;Password=sql" providerName="System.Data.SqlClient" />-->
  <!--<add name="BaseDb" connectionString="Data Source=localhost;port=3306;Initial Catalog=LeaRunFramework_Base_2016;user id=root;password=123456;charset=utf8" providerName="MySql.Data.MySqlClient"/>-->
  <!--<add name="BaseDb" connectionString="User Id=cuxoa;Password=cuxoa;PERSIST SECURITY INFO=True;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.126.91)(PORT=1531))(CONNECT_DATA=(SID=CLA)))"  providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="BaseDb" connectionString="Server=192.168.1.124;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="HQPAS" connectionString="Server=192.168.1.124;Initial Catalog=HQPAS;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
</connectionStrings>